<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <title>{% block title %}Luigi's Pizza{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('css/header.css') }}">
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'partials/_header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

    {% block footer %}
        {% include 'partials/_footer.html.twig' %}
    {% endblock %}
    </body>
</html>
