{% extends 'base.html.twig' %}

{% set today = "now"|date("Y-m-d") %}
{% block body %}
<div id="container">
    <div id="title-container" class="text-gold bg-dark h-16 w-full">
        <h1 class="font-title text-6xl text-center">Réservation</h1>
    </div>
    <div class="form-container">
        {{ form_start(form) }}
        <div class="form-field-container">
            {{ form_errors(form.datetime) }}
            {{ form_label(form.datetime) }}
            {{ form_widget(form.datetime) }}
        </div>
        <div class="form-field-container">
            {{ form_errors(form.name) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-field-container">
            {{ form_errors(form.email) }}
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-field-container">
            {{ form_errors(form.phone) }}
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
        </div>
        <div class="form-field-container">
            {{ form_errors(form.guests) }}
            {{ form_label(form.guests) }}
            {{ form_widget(form.guests) }}
        </div>
        <div>
            {{ form_row(form.submit) }}
        </div>
    </div>
        {{ form_end(form) }}
    </div>
</div>
{#
<form action="" method="post" id="container" class="flex flex-col justify-center items-center w-full bg-light">


    <label for="name" class="form-label">Nom</label>
    <input type="text" max="25" id="name" class="form-input">

    <label for="phone" class="font-sub-title text-dark text-3xl">Numéro de téléphone</label>
    <input type="tel" id="phone" class="form-input">

    <label for="email" class="form-label">Adresse mail</label>
    <input type="email" id="email" class="form-input">

    <label for="booking-date" class="form-label">Date de réservation</label>
    <input type="date" id="booking-date" class="form-input" min="{{ today }}" value="{{ today }}">

    <label for="guest-nb" class="form-label">Nombre de personnes</label>
    <input type="number" id="guest-nb" class="form-input" min="1" max="16" value="1">

    <label for="time" class="form-label">Heure d'arrivé</label>
    <input type="time" id="time" min="11:30" max="22:00" step="1800" list="list-time" class="form-input">
    <datalist id="list-time">
        <option value="11:30">11h30</option>
        <option value="12:00">12h</option>
        <option value="12:30">12h30</option>
        <option value="13:00">13h</option>
        <option value="13:30">13h30</option>
        <option value="14:00">14h</option>
        <option value="14:30">14h30</option>
        <option value="15:00">15h</option>
        <option value="15:30">15h30</option>
        <option value="16:00">16h</option>
        <option value="16:30">16h30</option>
        <option value="17:00">17h</option>
        <option value="17:30">17h30</option>
        <option value="18:00">18h</option>
        <option value="18:30">18h30</option>
        <option value="19:00">19h</option>
        <option value="19:30">19h30</option>
        <option value="20:00">20h</option>
        <option value="20:30">20h30</option>
        <option value="21:00">21h</option>
        <option value="21:30">21h30</option>
        <option value="22:00">22h</option>
        <option value="22:30">22h30</option>
        <option value="23:00">23h</option>
        <option value="23:30">23h30</option>
    </datalist>

    <input type="submit" value="Réserver" class="button">
</form>
#}
{% endblock %}
